html, body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.tenLogo {
  width: 20%;
}

.eighty {
  width: 80%;
}

.no-bullet, .menu {
  list-style: none;
}

.search-bar {
  width: 100%;
  background: #AAAAAA;
  padding-top: 5px;
  padding-bottom: 5px;
}

.teal {
  background: #2C99A4;
}
#input-form {
  margin: 0;
}

#search-button, .menu, .menu a{
  margin: auto;
  color: white;
}

 #search-text {
   color: white;
   padding: initial;
 }

.search {
  display: flex;
  width: 100%;
}

.menu {
  text-decoration: underline;
}

#contact-button {
  font-size: 18px;
  letter-spacing: .05em;
  font-weight: 500;
}

.hundred {
  width: 100%;
  margin: auto;
}

#realtor-image {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 0;
}

#sara {
  padding: 0;
}

button {
  color: white;
}

.sm {
  margin-top: 10px;
}

.social  {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  width: 100%;
}


.info-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-row {
  margin-top: 15px;
}

.info-row h1 {
  color: #323232;
}

.info-row p {
  color: #858585;
}

.additional-info-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
}

.list-holder ul li {
  font-size: 18px;
}

.info-list {
  height: 100%;
  width: auto;
  margin: 10px 10px 10px 0;
}

.list-holder ul {
  padding: 0;
}

.list-unstyled span {
  color: #5C5C5C;
}

.list-unstyled a {
  color: #2C99A5;
}

.nav-link {
  color: #aaa !important;
}

.nav-link.active {
  color: #2C99A5 !important;
  border: none;
  border-bottom: 2px solid #2C99A5 !important;
}

.dropdown-toggle {
  color: #2C99A5 !important;
  display: flex;
  justify-content: space-between;
}

.dropdown {
  margin-top: 25px;
  padding: 0;
}

.dropdown-toggle::after {
  margin-top: 5px;
}

.tab-pane div {
  margin: auto;
  padding: 0;
}

.dropdown-menu {
  width: 100%;
}

#lang-and-certs {
  margin-top: 0;
}

.tab-pane h4, .tab-writing {
  margin-top: 25px !important;
}

.current-tab {
  font-size: 18px;
}

@media (max-width: 575px) {
  .realtor-info, .additional-info {
    padding: 0; } }

@media (max-width: 575px) {
  #search-text, .menu, .xs-hide  {
    display: none; } }

@media (max-width: 575px) {
  .search  {
    padding-left: 0; } }

@media (max-width: 767px) {
  #empty, #empty1, #empty2  {
    display: none; } }

@media (max-width: 768px) {
  .list-unstyled  {
    font-size: 14px!important; } }

@media (max-width: 991px) {
  .menu  {
    font-size: 12px!important; } }

@media (min-width: 576px) {
  #search-button, .xs-show {
    display: none; } }

@media (max-width: 768px) and (min-width: 576px) {
  .info-row h1  {
    font-size: 2rem!important; } }
