html{
  font-size: .8rem;
}

.tenLogo {
  width: 20%;
}

.eighty {
  width: 80%;
}

.noBullet, .menu {
  list-style: none;
}

.search-bar {
  width: 100%;
  background: #AAAAAA;
}

.teal {
  background: #2C99A4;
}
#input-form {
  margin: auto 0;
}

#search-button, .menu {
  margin: auto;
  color: white;
}

 #search-text {
   /*margin: auto -20px auto 20px;*/
   color: white;
 }

.search {
  display: flex;
  width: 100%;
}

.menu {
  text-decoration: underline;
}

@media (max-width: 576px) {
  #search-text, .menu  {
    display: none; } }

@media (max-width: 768px) {
  #empty, #empty1  {
    display: none; } }

@media (min-width: 577px) {
  #search-button {
    display: none; } }

#noMargin {
  margin: 0;
}

.hundred {
  width: 100%;
  margin: auto;
}

#realtor-image {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 0;
}

#sara {
  padding: 0;
}

button {
  color: white;
}

.sm {
  margin-top: 10px;
}

.social  {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 10px;
}

button {
  width: 100%;
}

@media (max-width: 576px) {
  .realtor-info {
    padding: 0; } }
