/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Lato", sans-serif; }

.nav-contact-account {
  float: right; }
  .nav-contact-account .nav-item {
    margin-top: 8px;
    margin-bottom: 8px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px; }
    .nav-contact-account .nav-item span {
      vertical-align: bottom;
      display: inline-block;
      position: relative; }
    .nav-contact-account .nav-item img {
      vertical-align: top;
      margin-top: 6%;
      margin-left: 0.7%;
      position: relative; }

.input-group-addon {
  background-color: #00767A;
  color: #fff; }

.icon-bar {
  margin: auto;
  background-color: #009CAA; }

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px; }

#nav-toggle-links {
  float: right;
  padding-right: 15px; }
  #nav-toggle-links li a {
    color: #323232; }

#header {
  margin-bottom: 0px;
  background-color: #fff; }

@media (min-width: 992px) {
  .navbar-brand picture img {
    height: 80px; } }

#quick-search {
  border-top: 1px solid #00767A;
  background-color: #AAAAAA; }
  #quick-search .container .row {
    padding-top: 10px;
    padding-bottom: 11px; }

.searchbar-input-md input {
  height: 41px;
  width: 100%;
  padding: 10px;
  border: none; }

.searchbar-btn-md .btn {
  width: 100%;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  padding: 7px;
  background-color: #00767A;
  color: #fff; }

@media (min-width: 768px) {
  #quick-search .row {
    display: flex;
    flex-direction: row; } }
@media (min-width: 768px) {
  #quick-search .row .searchbar-link-group {
    display: flex;
    align-items: center;
    justify-content: center; } }

.link-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-between; }
  .link-list .searchbar-link {
    flex-grow: 1;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    letter-spacing: 0.5px; }
    .link-list .searchbar-link a {
      color: #fff;
      text-decoration: underline;
      text-decoration-color: #d9d9d9; }

#agent-profile {
  background-color: #EEEEEE; }
  @media (min-width: 768px) {
    #agent-profile .row {
      display: flex;
      flex-direction: row; } }
  #agent-profile .row #agent-info {
    padding-top: 10px;
    padding-bottom: 10px; }
    @media (min-width: 768px) {
      #agent-profile .row #agent-info {
        display: flex;
        align-items: center;
        justify-content: center; } }
  #agent-profile .row #agent-links {
    padding-top: 10px;
    padding-bottom: 10px; }
    @media (min-width: 768px) {
      #agent-profile .row #agent-links {
        display: flex;
        align-items: center;
        justify-content: center; } }

.agent-info-wrapper {
  width: 100%; }
  .agent-info-wrapper h1 {
    font-size: 36px;
    font-family: "Lato", sans-serif;
    color: #323232;
    letter-spacing: 2px; }
  .agent-info-wrapper h4 {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #AAAAAA;
    margin-top: 20px;
    letter-spacing: 1px; }
  .agent-info-wrapper .btn {
    width: 100%;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    padding: 7px;
    margin-top: 25px;
    background-color: #00767A;
    color: #fff; }
  .agent-info-wrapper .social-icons {
    margin-top: 25px;
    display: flex;
    justify-content: space-between; }

.agent-links-wrapper {
  width: 100%; }
  .agent-links-wrapper .agent-link {
    padding-bottom: 20px; }
    .agent-links-wrapper .agent-link img {
      padding-right: 20px; }
    .agent-links-wrapper .agent-link span {
      color: #00767A;
      font-size: 16px;
      vertical-align: +5px; }
    .agent-links-wrapper .agent-link .phone-number {
      color: #595959; }

#tabs {
  margin-top: 36px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  color: #EEEEEE; }
  #tabs .nav-justified li {
    border-bottom: 2px solid #C2C2C2;
    border-top: none;
    border-left: none;
    border-right: none; }
    #tabs .nav-justified li .one-tab {
      border: none;
      color: #C2C2C2; }
  #tabs .nav-justified .active {
    border-bottom: 2px solid #2399A6;
    border-top: none;
    border-left: none;
    border-right: none; }
    #tabs .nav-justified .active .one-tab {
      border: none;
      color: #00767A; }
  #tabs .dropdown-toggle {
    width: 100%;
    background-color: #fff;
    border: 1px solid #C2C2C2;
    border-radius: 0;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #00767A;
    display: flex;
    justify-content: space-between; }
    #tabs .dropdown-toggle img {
      padding-top: 8px; }

#about-me {
  padding-top: 30px; }
  #about-me .about-me-bio {
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    line-height: 2;
    padding-left: 0; }
  #about-me .about-me-sidebar {
    padding-right: 0; }
    #about-me .about-me-sidebar h1 {
      line-height: 2;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px;
      margin-bottom: 5px; }
    #about-me .about-me-sidebar p {
      font-size: 15px;
      font-family: "Open Sans", sans-serif; }
    #about-me .about-me-sidebar .designations {
      margin-top: 30px; }

#footer {
  height: 100px;
  width: 100%;
  margin-top: 40px;
  background-color: #009CAA; }

@media (max-width: 991px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }

/*# sourceMappingURL=main.css.map */
