@import 'reset';

// Colors
$white: #fff;
$gallery-grey: #EEEEEE;
$scorpion-grey: #595959;
$mine-shaft: #323232;
$silver: #C2C2C2;
$silver-chalice: #AAAAAA;
$bondi-blue: #009CAA;
$teal: #00767A;

// Fonts
$lato: 'Lato', sans-serif;
$open-sans: 'Open Sans', sans-serif;
