@import 'reset';

// Colors
$white: #fff;
$gallery-grey: #EEEEEE;
$scorpion-grey: #595959;
$mine-shaft: #323232;
$silver: #C2C2C2;
$silver-chalice: #AAAAAA;
$bondi-blue: #009CAA;
$teal: #00767A;

// Fonts
$lato: 'Lato', sans-serif;
$open-sans: 'Open Sans', sans-serif;


body {
  font-family: $lato;
}

.link-list {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  .searchbar-link {
    flex-grow: 1;
  }
}


.icon-bar {
  margin: auto;
}

.navbar-toggle {
  .icon-bar+.icon-bar {
    margin-top: 4px;
  }
}

.navbar {
  margin-bottom: 0px;
  background-color: $white;
}

#profile-section {
  background-color: $gallery-grey;
}

.social-icons {
  li {
    display: inline-block;
  }
}
